DATABASE_URL="postgresql://admin:password123@localhost:5432/financeiro_pro?schema=public"
JWT_SECRET="sua_chave_secreta_super_segura_123"
PORT=3001

#CREDENCIAIS OPENAI E GOOGLE # Mude para 'groq', 'gemini' ou 'openai'
OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
AI_PROVIDER=groq